################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj/Release/netcoreapp2.2
/obj
/.vs/GeneticToolkit/v16

GeneticToolkit/obj/

Tests/PhenotypeNUnit/obj/

\.idea/
/.vs/GeneticToolkit
/GeneticToolkit/bin/Debug/netcoreapp2.2
